<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bornes - Chargeon</title>
    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <link rel="icon" href="../assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/libs.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="preload" href="../../assets/fonts/istok-web-v15-latin/istok-web-v15-latin-regular.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/istok-web-v15-latin/istok-web-v15-latin-700.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/montserrat-v15-latin/montserrat-v15-latin-700.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/montserrat-v15-latin/montserrat-v15-latin-600.woff2" as="font"
        type="font/woff2" crossorigin>

    <link rel="preload" href="../../assets/fonts/material-icons/material-icons.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="../../assets/fonts/material-icons/material-icons-outlined.woff2" as="font"
        type="font/woff2" crossorigin>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />

</head>

<body>


    <main class="main">
        <!-- Begin header -->
        <header class="header">
            <%- include('partials/header'); %>
        </header>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading heading-center">

                            <h1>Borneees</h1>
                        </div>
                    </div>
                    <% if(bornes !="" ){ %>
                        
                            <div class="col-lg-4 col-md-6 col-12 item">
                                <!-- Begin news item -->
                                
                                <article class="news-item item-style">
                                    <div id="d1" class="form_update">

                                        <form action="api/borne/updateBorne/<%= bornes[i]._id%>" method="post">
                                            <div class="form-field">
                                                <label for="contact-email" class="form-field-label">localisation : <%= bornes[i].localisation %></label>
                                                <input type="text" class="form-field-input" name="localisation" value="" autocomplete="off"
                                                     id="contact-email">
                                            </div>

                                            <div class="form-field">
                                                <label for="contact-email" class="form-field-label">adresse : <%= bornes[i].adress %></label>
                                                <input type="text" class="form-field-input" name="adress" value="" autocomplete="off"
                                                     id="contact-email">
                                            </div>

                                            <div class="form-field">
                                                <label for="contact-email" class="form-field-label">Habiliation Basse : <%= bornes[i].habiliationB %></label>
                                                <input type="text" class="form-field-input" name="habiliationB" value="" autocomplete="off"
                                                     id="contact-email">
                                            </div>

                                            <div class="form-field">
                                                <label for="contact-email" class="form-field-label">habiliation Haute : <%= bornes[i].habiliationH %></label>
                                                <input type="text" class="form-field-input" name="habiliationH" value="" autocomplete="off"
                                                     id="contact-email">
                                            </div>

                                            

                                            <div class="form-field">
                                                <label for="contact-email" class="form-field-label">Etat : <%= bornes[i].etat %></label>
                                                <input type="text" class="form-field-input" name="etat" value="" autocomplete="off"
                                                     id="contact-email">
                                            </div>

                                            <div class="col-12">
                                                <div class="form-btn">
                                                    <button class="btn btn-w240 ripple"><span>Connexion</span></button>
                                                </div>
                                            </div>
                                        </form>
                                        <button onclick="closeModal()">
                                            close
                                        </button>
                                    </div>

                                    <a href="/bornes/" class="news-item-img">

                                        <div class='map' style='width: 100%; height: 100%;'>

                                        </div>

                                        <% const localisation=bornes[i].localisation; %>

                                            <script>




                                                var getLocalisation = '<%= localisation  %>';  //var test is now assigned to getTest which will only work on browsers
                                                // const center = getLocalisation.split(",");
                                                // const lng = parseFloat(center[0]);
                                                // const lat = parseFloat(center[1]);
                                                var b = 5.928;
                                                console.log(b);


                                                mapboxgl.accessToken = 'key';

                                                var map = new mapboxgl.Map({

                                                    container: 'map',
                                                    style: 'mapbox://styles/mapbox/light-v10',
                                                    center: [b, 45.124228],
                                                    zoom: 11
                                                });


                                                 const marker2 = new mapboxgl.Marker({ color: 'black' })
                                                     .setLngLat([])
                                                     .addTo(map);

                                                Timeout(5000);
                                                console.log("terminer");
                                            </script>


                                    </a>
                                    <div class="news-item-info">

                                        <div class="news-item-date">Etat : <%= bornes[i].etat %>
                                        </div>



                                        <h2 class="news-item-heading item-heading">
                                            <a href="news-post.html" title="Benefits Of Async/Await">
                                                <%= bornes[i].adress %>
                                            </a>
                                        </h2>
                                        <div class="news-item-desc">
                                            <p>type : <%= bornes[i].habilitationB%>
                                            </p>
                                        </div>
                                        <div>


                                            <div  class="borne_option">
                                                <button class="borne" id="togg1">
                                                    <img src="../../assets/img/crayon.svg" alt="" class="borne-icone">
                                                </button></a>




                                                
                                                <form action="api/borne/deleteBorne/<%= bornes[i]._id%>" method="post">
                                                    <button class="borne">
                                                        <img src="../../assets/img/poubelle.svg" alt=""
                                                            class="borne-icone">
                                                    </button>
                                                </form>


                                            </div>

                                            

                                            <script>
                                                let togg1 = document.getElementById("togg1");
                                                let d1 = document.getElementById("d1");

                                                togg1.addEventListener("click", () => {
                                                    if (getComputedStyle(d1).display != "none") {
                                                        d1.style.display = "none";
                                                    } else {
                                                        d1.style.display = "block";
                                                    }
                                                })

                                                function closeModal(){
                                                    d1.style.display = "none";
                                                }


                                            </script>


                                        </div>
                                    </div>

                                </article><!-- End news item -->

                            </div>
                            <% } %>
                                <% } %>


                </div>
            </div>
        </div>

        </div>



    </main>

    <script src="../assets/libs/jquery/jquery.min.js"></script>
    <script src="../assets/libs/lozad/lozad.min.js"></script>
    <script src="../assets/libs/device/device.js"></script>
    <script src="../assets/libs/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
    <script src="../assets/libs/spincrement/jquery.spincrement.min.js"></script>
    <script src="../assets/libs/jquery-validation-1.19.3/jquery.validate.min.js"></script>
    <script src="../assets/js/custom.js"></script>

</body>

</html>